matplotlib
pandas
numpy
jupyterlab
pytest
pytest-cov
flake8
pylint
pymongo
ipywidgets

fastapi
graphene
graphql-core
graphql-relay
gunicorn
uvicorn
dateparser
word2number
# transformers
spacy==3.0.6

# NLP
scikit-learn==0.24.2
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-text
tf-models-official==2.4.0
